:root {
    --gdg-blue: #4285f4;
    --gdg-red: #ea4335;
    --gdg-green: #34a853;
    --gdg-yellow: #f9ab00;
    --gdg-off-white: #f0f0f0;
}

@font-face {
    font-family: "Google Sans";
    src: url('./../fonts/google-sans/GoogleSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Google Sans Medium";
    src: url('./../fonts/google-sans/GoogleSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Google Sans Bold";
    src: url('./../fonts/google-sans/GoogleSans-Bold.ttf') format('truetype');
}

.font-google-sans {
    font-family: Google Sans;
}

.font-google-sans-bold {
    font-family: Google Sans Bold;
}

.font-google-sans-mid {
    font-family: Google Sans Medium;
}

.bg-off-white{
    background-color: var(--gdg-off-white);
}

.text-gdg-blue {
    color: var(--gdg-blue) !important;
}

.text-gdg-green {
    color: var(--gdg-green) !important;
}

.text-gdg-red {
    color: var(--gdg-red) !important;
}

.text-gdg-yellow {
    color: var(--gdg-yellow) !important;
}

.bg-gdg-blue {
    background-color: var(--gdg-blue);
}

.bg-gdg-green {
    background-color: var(--gdg-green);
}

.bg-gdg-red {
    background-color: var(--gdg-red);
}

.bg-gdg-yellow {
    background-color: var(--gdg-yellow);
}

